#*
*~
*.exe
*.wdb
*.prj
*.xrpt
*.xml
*.lso
*.ngc
*.npr
*.stx
*.syr
*.vhi
*.xst
*.html
*.cmd_log
*.log
*.cmd
*.ngr
*.xmsgs
*.ini
*.ngr
iseconfig/
isim/
xst/
ctmp/
init/
*.tcl
